.flex-container{
    height:700px;
    background-color: #eee;
    
    
    display : flex;
    /* display : flex;
        - item을 감싸는 요소의 형식을 flex로 변경 
         -> item에 자동으로 지정된 margin 요소가 모두 사라지고 
            content 영역 만큼의 크기만 가지게됨 

        item에 별도에 height/width가 지정 되어 있지 않다면 
        item의 높이는 flex-container의 높이/너비와 같아지게 된다.    
        (flex-container 정렬 방향에 따라 다름)           
    */

        /* --------------- */
        /* flex-direction */
        
        /* (flex-container 전용 속성)
            main axis의 방향과 시작위치를 지정하는 속성
         */

         /* 행 방향 (가로 , 기본값) */
         flex-direction: row;
         
         /* 행 방향 (가로) + 순서반대(오른쪽 정렬) */
         /* flex-direction: row-reverse; */
         
         /* 열방향 (세로) */
         /* flex-direction: column; */

         /* 열방향 (세로) + 순서 반대(아래 기준 정렬)*/
         /* flex-direction: column-reverse; */


        /* -----------*/
        /* flex-wrap */

        /* 내부 item들을 포장하는 속성 
           item들이 강제로 한 줄에 배치되게 할 것인지
           
           flex-container가 줄어들면 
           한 줄을 벗어나 여러 줄로 배치 할 것인지를 지정
        */
        /* item 한 줄로 배치(기본값) */
        flex-wrap:nowrap;

        /* item 여러줄로 배치 */
        /* flex-wrap: wrap; */
        
        /* item 여러줄로 배치 + 뒤에서부터 배치 (뒤집어짐)  */
        /* flex-wrap: wrap-reverse; */


        /* ----------------- */
        /* flex-flow */

        /* flex-container의 
        main axit의 방향, 순서와 
        여러줄로 배치할지에 대한 여부를 
        한번에 설정하는 속성
        flex-direction+ flex-wrap이 합쳐진 모양 
        */

        /*            flex-direction   flex-wrap */
        /* flex-flow : row-reverse        wrap; */

        /* flex-flow : row wrap-reverse; */

        /* ---------------- */
        /* justify-content 정렬 방법 */
        /* -------------- */

        /* justify : 조정하다 */
        /* justify-content : 내용을 조정하다 
        
            ->main axis 방향으로 
              item(내용)의 정렬 방법을 조정함
        */

        /* main axis 시작 지점을 기준으로 정렬함(기본값) */
        /* justify-content: flex-start; */

        /* main axis 끝 지점을 기준으로 정렬함 */
        /* justify-content: flex-end; */
        /*--> 순서가 달라지는
        flex-direction: row-reverse;와 구분해서 기억하자 */

         /* flex-direction: column-reverse; */

         /* main axis 가운데 정렬 */
         /* justify-content: center; */

         /* item 주위에 main axis 방향  양쪽으로 
            일정한 크기의 공간을 추가한다.
            ->양 끝은 조금 , item 중간은 넓게 떨어져있음*/
         /* justify-content: space-around; */


         /* item이 main axis 내에서 동일한 간격을 가지게됨 */
         /* justify-content:space-evenly; */

         /* space-evenly에서 양끝을 flex-container에 붙게함 (사이사이 동일한 간격을 갖음) */
        justify-content: space-between;


        /* *********** */
        /* align-items */
        /* *********** */

        /* item들을 cross axis(반대축,교차축) 방향으로 정렬하는 방법을 지정하는 속성 */

        /* item들의 너비(width) 또는 높이(height)를 
           cross axis 방향으로 늘려서 
           flex-container와 같은 크기를 가지도록 함
           (기본값) 
           * 조건 : cross axis 방향의 크기 지정 속성이 없어야 함 
        */
        /* align-items:stretch; */


        /* cross axis 시작 지점을 기준
          
            (stretch처럼 늘어나지 않고 , content(내용) 크기를 유지함)
        */
        /* align-items: flex-start; */


        /* cross axis 끝 부분을 기준 */
        /* align-items: flex-end; */
        
        /* cross axis 가운데 기준 */
        /* align-items: center; */


        /* item 내부 content가 모두 한 줄에 배치 될 수 있도록 
            item 요소를 cross axis으로 움직이는 설정
        */
        align-items: baseline;




        }
.item2{
    padding: 10px;
}

.item3{
    padding: 20px;
}

.item4{
    padding: 30px;
}

/* 요소 정가운데 배치하기 */
#con{
    width:450px;
    height:450px;

    display:flex;

    /* 중심축 설정(가로) */
    flex-direction: row;
    /* flex-container 초과시 여러줄 X ( 한줄로만) */
    flex-wrap:nowrap;
    /* 중심축 방향 가운데 정렬 */
    justify-content: center;
    /* 교차축 방향 가운데 정렬 */
    align-items: center;

}
#center{
    width:80px;
    height:80px;
    background-color: palegreen;
}