*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}


.input-area{
    width: 190px;
    text-align: center;
    margin: auto;
}


.input-area h1{
    margin: 20px;
}


.input-area span{
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 7px;
}

.input-area input{
    width: 100px;
}

#newBtn{
    display:inline-block;
    width: 100%;
}

.container{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bingoBoard{
    padding : 50px;
}

.row{
    display: flex;
}


.col{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin: 2px;
    
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
}

.col:hover{
    background-color: yellow;
}

.selected{
    background-color: skyblue;
}

.bingo{
    background-color: orange;
}