/* :only-child */
#test1>p:only-child{
    background-color:  steelblue;
}
/* :only-of-type */
#test2>p:only-of-type{
    background-color:  crimson;
}
/* :empty */
#test3>p:empty{
    height:30px;
    background-color:  lime;
}
/* 여러 선택자 동시 선택 */
#test4-1,#test4-2,.test4-3{
    background-color: yellow;
    border :3px solid black;
}

/* 특정 요소 내부에 있는 특정 클래스만 선택하기 */
#test5-1 .c5{
    /* #test5-1의 후손중 클래스가 c5인 요소 선택 ( 띄어쓰기) */
    background-color: aquamarine;
}
#test5-2 >li.c5{
    /* #test5-2자식중 
        클래스가 c5인 li요소만 선택 (띄어쓰기 없이 빼곡하게 붙여서 작성) */
    background-color: aquamarine;
}
/* 클래스가 여러개인 요소 선택 */
.test6.c6{
    background-color: red;
}

